* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 3em;
    margin: 30px 0;
}
h2 {
    font-size: 2.5em;
    margin: 20px 0;
}
h3 {
    font-size: 2.0em;
    margin: 20px 0;
}
h4 {
    font-size: 1.8em;
    margin: 17px 0;
}
h5 {
    font-size: 1.3em;
    margin: 14px 0;
}
h6 {
    font-size: 1.2em;
    margin: 12px 0;
}
code.code-block, pre.code-block {
    padding: 10px;
    background: #efefef;
    display: block;
}
code.word {
    display: inline;
    padding: 3px;
    border-radius: 3px;
}
.grey-section{
    background: #efefef;
    padding: 30px 0;
}
.headline {
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
}
.banner {
    background: url('/img/triangular_@2X.png') #3FC380;
    background-size: 60px 60px;
    overflow: auto;
    color: white;
    padding-bottom: 30px;
}
.banner .top-feature h4 {
    font-weight: lighter;
    text-transform: uppercase;
}
section {
    margin-bottom: 25px;
}
section h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-size: 30px;
}
.footer {
    background: #313543;
    color: white;
}
.footer-content {
    padding: 20px 0;
}
section.demo {
    margin-top: 20px;
}
section.demo h2 {
    color: white;
    font-size: 4.5rem;
    line-height: 1.2em;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0px 2px 2px #af5422;
}
@media screen and (max-width: 768px) {
    section.demo h2 {
        font-size: 2rem;
        line-height: 1.4em;
    }
}
section.demo .browser-wrapper {
    -webkit-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    -moz-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    -o-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    border-style: solid;
    border-radius: 6px 6px 0px 0px;
    border-style: solid;
    border-width: 23px 10px 0px 62px;
    margin: 0 auto;
    max-width: 960px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    section.demo .browser-wrapper {
        -webkit-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        -moz-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        -o-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        border-style: solid;
        border-width: 23px 10px 0px 62px;
    }
}
section.demo #browser-container {
    background: #494f57;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
}
.browser-code {
    position: relative;
    color: #ccc;
    font-size: 12px;
    padding-left: 30px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.browser-code pre {
    background: #494f57;
    border-radius: 0 0 5px 5px;
}
.browser-code .row::before {
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 19px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}
.browser-code .row.active::before, .browser-code .row:hover::before {
    background: rgba(255, 255, 255, 0.025);
}
.browser-code .row:hover {
    cursor: pointer;
}
.browser-code .a {
    color: #F3712B;
}
.browser-code .b {
    color: #6aade0;
}
.browser-code .c {
    color: #90d8e3;
}

