* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 2.8em;
    margin: 30px 0;    
}
h2 {
    font-size: 2.1em;
    margin: 20px 0;
}
h3 {
    font-size: 1.9em;
    margin: 20px 0;
}
h4 {
    font-size: 1.7em;
    margin: 17px 0;
}
h5 {
    font-size: 1.4em;
    margin: 14px 0;
}
h6 {
    font-size: 1.2em;
    margin: 12px 0;
}
code {
    padding: 10px;
    background: #efefef;
    display: block;
}
.headline{
	font-weight: lighter;
	font-size: 4em;
	text-align: center;
}
.banner {
    background: url('/img/triangular_@2X.png') #3FC380;
    background-size: 60px 60px;
    overflow: auto;
    color: white;
}
.footer {
    padding: 20px 0;
    border-top: 1px solid #efefef;
}
section{
	margin-bottom: 15px;
}
section h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
