
* {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-size: 15px;
    line-height: 1.62857;
}
h1 {
    font-size: 3em;
    margin: 30px 0;
}
h2 {
    font-size: 2.5em;
    margin: 20px 0;
}
h3 {
    font-size: 2.0em;
    margin: 0px 0px 20px 0;
}
h4 {
    font-size: 1.8em;
    margin: 17px 0;
}
h5 {
    font-size: 1.3em;
    margin: 14px 0;
    font-weight: 300;
}
h6 {
    font-size: 1.2em;
    margin: 12px 0;
}
code.code-block, pre.code-block {
    padding: 10px;
    background: #333;
    display: block;
    color: #eee;
    border-radius: 5px;
}
code.word {
    display: inline;
    padding: 3px;
    border-radius: 3px;
}
thead {
    text-align: left;
}
.navigation{
    float: right;
    margin: 0;
    padding: 40px 0;
}
.navigation a{
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    border:1px solid white;
}
.navigation a:hover{
    background: white;
    text-decoration: none;
    color: #3FC380;
}
.grey-section {
    background: #efefef;
    padding: 30px 0;
}
.headline {
    font-weight: lighter;
    font-size: 3em;
    text-align: center;
}
.title {
    text-align: center;
    margin: 20px 0;
} 
.page-title{
    text-align: left;
}
.banner,.inner-banner {
    background: url('/img/triangular.png') #3FC380;
    background-size: 60px 60px;
    overflow: auto;
    color: white;
    padding-bottom: 30px;
}
.inner-banner {
    padding-bottom: 0;
}
.banner .top-feature h4 {
    font-weight: lighter;
    text-transform: uppercase;
}
section {
    margin-bottom: 25px;
}
section h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-size: 30px;
}
.footer {
    border-top: 1px solid #ccc;
    margin-top: 30px;
}
.footer-content {
    padding: 20px 0;
    text-align: center;
}
section.demo {
    margin-top: 20px;
}
section.demo h2 {
    color: white;
    font-size: 4.5rem;
    line-height: 1.2em;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0px 2px 2px #af5422;
}
@media screen and (max-width: 768px) {
    section.demo h2 {
        font-size: 2rem;
        line-height: 1.4em;
    }
}
section.demo .browser-wrapper {
    -webkit-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    -moz-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    -o-border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    border-image: url(/img/browser-frame.png) 23 10 0 62 repeat;
    border-style: solid;
    border-radius: 6px 6px 0px 0px;
    border-style: solid;
    border-width: 23px 10px 0px 62px;
    margin: 0 auto;
    max-width: 960px;
}
section.demo #browser-container {
    background: #494f57;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
}
.browser-code {
    position: relative;
    color: #ccc;
    font-size: 12px;
    padding-left: 30px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.browser-code pre {
    background: #494f57;
    border-radius: 0 0 5px 5px;
    margin: 20px 0;
}
.browser-code .row::before {
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 19px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}
.browser-code .row.active::before, .browser-code .row:hover::before {
    background: rgba(255, 255, 255, 0.025);
}
.browser-code .row:hover {
    cursor: pointer;
}
.browser-code .command {
    color: rgb(181, 255, 174);
    font-size: 16px;
    display: block;
    font-family: monospace;
}
.browser-code .b {
    color: #6aade0;
}
.browser-code .c {
    color: #90d8e3;
}
#social-buttons {
    padding: 22px 0 17px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
#social-buttons ul.list-inline {
    margin-bottom: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.button-holder {
    padding-top: 20px;
}
.banner .button-holder {
    text-align: center;
}
.button {
    border: 1px solid white;
    color: white;
    text-shadow: none;
    border-radius: 5px;
}
.button:hover {
    background: white;
    text-decoration: none;
    color: #3FC380;
}
.button.big-button {
    font-size: 16px;
    padding: 15px 30px;
}
.fork-ribbon {
    position: fixed;
    top: 40px;
    right: -120px;
    z-index: 1;
    border: 0;
    background: rgba(245, 193, 14, 1);
    width: 350px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 5px;
    color: #160F29 !important;
}
.fork-ribbon:hover {
    background: rgba(245, 193, 14, 1);
    text-decoration: none;
}
.number-step {
    padding: 10px;
    height: 30px;
    line-height: 0.6;
    margin-right: 7px;
    width: 30px;
    display: inline-block;
    color: white;
    border-radius: 50%;
    background: #3FC380;
}
.homepage-icon {
    text-align: center;
    margin-bottom: 20px;
}

/* download */
 .os .separator {
    margin: 0 5px;
}
.os .download {
    padding: 2px;
    padding-left: 22px;
    background: url('/img/download.png') no-repeat 0 2px;
}
.os .checksum a{
    display: block;
}
.os .sha1, .os .md5{
    display: none;
}
.os__logo {
    background: url('/img/os.png');
    height: 68px;
    float: left;
    width: 68px;
    display: inline-block;
    border-radius: 5px;
}
.os__logo.windows {
    background-position: -10px -10px;
}
.os__logo.mac {
    background-position: -10px -249px;
}
.os__logo.linux-deb {
    background-position: -10px -411px;
}
.os__logo.linux-rpm {
    background-position: -10px -90px;
}
.os__logo.solaris {
    background-position: -10px -170px;
}
.os__logo.zip {
    background-position: -10px -330px;
}
.os__text {
    margin-left: 80px;
}
.os__text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.os tr td {
    vertical-align: middle;
}
.os tr:first-child td {
    font-weight: bold;
}
.os tr:nth-child(odd) {
    background: #eee;
}
.os tr:first-child td {
    background: #ddd;
}
.tiny {
    font-size: 0.7em;
    font-weight:normal;
}
/************/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .banner {
        background: url('/img/triangular_@2X.png') #3FC380;
    }
    section.demo .browser-wrapper {
        -webkit-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        -moz-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        -o-border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        border-image: url(/img/browser-frame@2x.png) 46 20 0 124 repeat;
        border-style: solid;
        border-width: 23px 10px 0px 62px;
    }
}
    
