.page-content {
    .tag-title {
        font-size: 40px;
        border-bottom: 1px #F5C10E solid;
        padding-bottom: 25px;
        margin-bottom: 0;
        line-height: 1;
        text-align: left;
        @include media($mobile) {
            font-size: 30px;
        }
    }
}
