.author{
    font-weight: bold;
    font-style: normal;
    font-size: 1.1em;
}

.item {
    font-size: 14px;
    font-style: italic;
}

.tags {
    color: $dark-gray;
    font-size: 16px;
    padding-top: 10px;
    a {
        padding: 2px 10px;
        background: $light-gray;
        border-radius: 10px;
        font-size: 13px;
        color: #737373;
    }
}

.blogpost {

    padding: 50px 0px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    @include media($tablet) {
        padding: 20px 15px 20px 15px;
        margin-top: 50px;
    }

    .metadata {
        border-bottom: 1px solid $mustard;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 20px;
        .blog-title {
            margin-top: 30px;
            font-size: 35px;
            text-align: center;

            @include media($mobile, $tablet) {
                font-size: 25px;
                margin-top: 10px;
                text-align: center;
            }
        }

    }


    .blog-content {
        margin-top: 20px;
        margin-bottom: 30px;
        @include media($tablet){
            margin-bottom: 20px;
        }
        font-size: 14px;
        border-bottom: 1px solid $mustard;
        @include link-style();

        .sub-section{
            font-size: 18px;
            font-style: italic;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .section-title {
            font-size: 20px;
            font-style: italic;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .img-container{
            display: table;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        p{
            padding-bottom: 5px;
        }
        pre{
            padding-bottom: 10px;
        }

        ul{
            padding-bottom: 10px;
            list-style-type: circle;
        }
    }

    .comments{
        margin-top: 20px;
    }
}
