.cla{
	#content{
    	@include outer-container(100%);
    }
    .page-content{
    	padding:50px;
    	font-size: 14px;
	  strong{
		font-weight: bold;}
    	@include outer-container();
    	h2{
    		text-align: left;
		  margin: 25px 0 10px;
    	}
    	.block{
    		margin-bottom: 40px;
    	}
	  .agreement{
		font-family: monospace, serif;
		font-size: 1em;
	  }
  	}
  	.cla-form{
	  	width: 760px;
	  	height: 1300px;
	}
}