.header_image{
  background-image: image-url('subpage_cla.jpg');
}
.cla{
	.short{
	  display: none;
	  @include media($mobile, $tablet){
		display: inline-block;
	  }
	}
	.long{
	  display: inline-block;
	  @include media($mobile, $tablet){
		display: none;
	  }
  }

  .cla-content{
	@include outer-container(100%);
	padding: 50px 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	.license{
	  @include outer-container();
	  max-width: 68em;
	  margin-left: auto;
	  margin-right: auto;
	}
	.cla-form-content{
	  @include outer-container();
	  max-width: 68em;
	  margin-left: auto;
	  margin-right: auto;
	}
	@include media($mobile) {
	  padding: 20px 15px 20px 15px;
	}
	strong{
	  font-weight: bold;}
	h2{
	  text-align: left;
	  margin: 25px 0 10px;
	}
	.block{
	  font-size: 14px;
	  margin-bottom: 40px;
	}
	.agreement{
	  font-family: monospace, serif;
	  font-size: 14px;
	}
  }

  .cla-form{
	width: 65%;
	height: 1270px;
	@include media($tablet) {
	  width: 100%;
	}
  }
}
