.subheader{
  background-image: image-url('headerbg.jpg');
  background-position: right top;
  height:170px;
  margin-top:70px;
  .page-label{
    display:inline-block;
    color:#fff;
    margin-top:57px;
    margin-left:30px;
    text-transform:uppercase;
  }
}
body.getstarted {

  .contribute {
    padding: 1em 1.5em;

    .contribute-heading {
      line-height: 1.5;
      color: black;
      text-align: center;
      font-size: 2.5em;
    }

    .quick-links {
      @include outer-container();
      .links-heading {
        color: #333;
        font-size: 1.4em;
      }

      .links-row {
        @include row(table);
        .links{
          @include span-columns(2);
          @include media($tablet) {
            @include span-columns(4);
            @include row(table);
          }
          .quick-link {
            @include span-columns(1);
            @include media($tablet) {
              @include span-columns(2);
            }
            background-color: #4B4141;
            text-align: center;
            align-items: center;
            padding-top: 0.5em;

            .icon {
              background-size: 100%;
              color: #ffffff;
              .fa{
                font-size: 3em;
                @include media($tablet) {
                  font-size: 2em;
                };
              }
              padding-bottom: 0.5em;
            }

            .name {
              font-size: 1em;
              @include media($tablet) {
                font-size: 0.75em;
              };
              text-align: center;
              color: #ffffff;
            }
          }
        }
      }
    }
    .filler {
      padding: 2em;
      @include media($tablet) {
        padding: 1em;
      };
    }
    .contribution-steps {
      @include outer-container();

      .contribution-step {
        @include span-columns(6);
        .involvement-heading {
          font-size: 1.4em;
          color: #333;
          text-align: center;
          padding-bottom: 0.5em;
        }

        .contribution-list {
          .contribution-item {
            a {
              color: #1b23ff;
            }
          }
        }
      }
    }
  }
}