.subheader{
  background-position: right top;
  height:190px;
  @include media($tablet) {
    height: 130px;
  }
  .page-label{
    display:inline-block;
    color:$mustard;
    margin-top:75px;
    font-size:52px;
    margin-left:100px;
    @include media($tablet) {
      margin-left: 17px;
      margin-top: 50px;

    }
    @include media($mobile) {
      font-size: 35px;
      line-height: 1;
      margin-top: 75px;
      margin-left: 17px;
    }

  }
}

.clearfix {
  &:before { content:""; display:table; }
  &:after { content:""; display:table; clear:both; }
}


@mixin link-style(){
  a{
    color: black;
    font-weight: 400;
    border-bottom: 1px #000 solid;
    &:visited{
      font-weight: 400;
      color: $visited-link;
      border-bottom: 1px $visited-link solid;
    }
    &:hover{
      color: black;
      background-color: $mustard;
      border-bottom: 1px $mustard solid;
    }
  }
}