body.download {
  .group {
    padding: 8em 1.5em;
    margin: 0 auto 0.5em;
    width: 80%;

    .group-heading {
      line-height: 1.5;
      text-align: center;
      color: #666666;

      h1 {
        font-size: 2.5em;
      }

      h2 {
        text-align: left;
        font-size: 2em;
      }

      h3 {
        font-size: 1.2em;
      }
    }

    .platform-row:nth-of-type(odd){
      background-color: #DDD;
    }

    .filler {
      padding: 2em;
    }

    .filler-low {
      padding: 1em;
    }

    .button-container {
      font-size: 4em;
    }

  }

  .generic-row {
    @include outer-container;
  }
  .platform-row {
    @extend .generic-row;
    padding-top : 1em;
    .platform-name {
      @include span-columns(6);
      text-align: right;
      @include media($tablet) {
        @include span-columns(4 of 4);
        text-align: center;
      }
    }
    .download {
      @include span-columns(2);
      @include media($tablet) {
        @include span-columns(2 of 4);
      }
    }
    .platform-name, .download {
      .icon {
        text-align: center;
        height: 3em;
        width: 3em;
        margin: 0 auto;
        background-size: 100%;
        border-radius: 50px;
        margin-bottom: 1em;
        color: #666666;
      }

      .name {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 1em;
      }
    }
    a {
      color: #0E71F5;
      cursor: pointer;
      &:hover{
        color: #0A336B;
      }
    }
  }

  .terminal-wrapper {
    @extend .generic-row;
    background-color: #DDD;
    padding-top: 1em;
  }

  .platform-heading {
    @extend .generic-row;
    background-color: none;
    h3 {
      text-align: left;
    }
  }

  .install-instruction {
    text-align: left;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    code {
      font-family: monospace;
    }
  }
  a.download-link {
    color: #0E71F5;
    cursor: pointer;
    &:hover{
      color: #0A336B;
    }
  }

  .terminal {
    width: 100%;
    height: 100%;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
  }

  .showterm {
    width: 100%;
    height: 44em;
  }
  pre{
    font-family: monospace;
    color: #1F1;
    font-size: 1em;
    &.terminal-output {
      color: #EEE;
    }
  }
}
