body.index {
  .feature-group {
    padding: 1em 1.5em;
    margin: 0 auto 0.5em;
    width: 80%;

    .feature-group-heading {
      line-height: 1.5;
      text-align: center;

      h1 {
        font-size: 2.5em;
      }

      h3 {
        font-size: 1.2em;
      }
    }

    .feature-row {
      margin-top: 3em;
      @include outer-container;

      .feature {
        padding: 1em;
        @include span-columns(4);
        @include media($tablet) {
          @include span-columns(2 of 2);
        }

        .icon {
          text-align: center;
          height: 6em;
          width: 6em;
          margin: 0 auto;
          background-size: 100%;
          border-radius: 50px;
          margin-bottom: 1em;
          color: #666666;
        }

        .name {
          font-size: 1.5em;
          text-align: center;
          margin-bottom: 1em;
        }

        .explanation {
          font-weight: 100;
          line-height: 1.8;
          text-align: center;
        }
      }
    }
  }
}
