.page-block {
  margin:50px 0;
  @media (min-width:$screen-tablet) {
  padding-left: 100px;
    
  }
}

.tab_content {
  counter-reset: section;

  h3 {
    position: relative;
  }

  h3::before {
    counter-increment: section;
    position: absolute;
    content: counter(section);
    left: -50px;
    font-size: 50px;
    color: #ccc;
    top: -4px;
  }

}

.instruction {
  margin-bottom: 20px;
}

.download-title{
    background: #ccc;
    display: inline-block;
    margin-bottom: 0;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    font-size:12px;
    strong{
      font-size:14px;
    }
}
.download-section {
  border: 1px solid $border;
  padding: 20px;
  border-radius: 0 $border-radius $border-radius;
  margin-bottom: 20px;
  @include clearfix;
.download-bit {
    float: left;
    width: 50%;
}
  .download {
    display: inline-block;
    font-size: 15px;
    color: #eee;
    margin-right: 10px;
    height: 39px;
    background-color: $gray-light;
    font-weight: bold;
    background-image: url("../images/svg/get_started/icon_button_download.svg");
    background-position: 0 -4px;
    background-repeat: no-repeat;
    border-radius: 3px;
    line-height: 39px;
    padding: 0px 20px 0px 70px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    &:hover{
      background-color: $gray;
      transition: all 0.3s ease-in-out;
      color:#fff;
    }
  }
  .sha{
    display:block;
    font-size:13px;
  }
}

.code-box {
    padding: 30px 20px;
    background: #071322;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-size: 18px;
    margin-bottom: 20px;
    code {
    color: #41B94F;
    margin-bottom: 10px;
    display: block;
    font-family: monospace, monospace;
    font-size: 1em;
}
}