.hero-banner {
  color: #f1f1f1;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:auto;
  @include media($tablet) {
    padding: 1.2em 0;
  }
  background-image: image-url('hero_banner.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-color:#000;
  background-size:100%;

  .hero-banner-content{
    margin: 200px 0px 0px;
    @include media($mobile){
      margin: 80px 0px 0px;
    }
    h1{
      padding:0px 0px 0px;
      margin: 0 auto;
      text-align: center;
      font-size: 64px;
      font-weight: 600;
      text-shadow: 3px 4px 4px rgba(0,0,0,.2);

      span{
        font-weight: 400;
        color: #AE8F27;
      }
      @include media($tablet){
        font-size: 46px;
      }
      @include media($mobile){
        font-size: 36px;
      }
    }
  }

  .actions{
    a{
      @include media($mobile)
      {
        margin-bottom: 15px;
      }
    }
  }
  
  h1, h3 {
    color: white;
  }
  
  h3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .subquote{
    width:80%;
    margin:25px auto 50px;
    @include media($mobile){
      width:80%;
    }
  }
  .button{
      margin-right:30px;
      @include media($mobile){
        margin-right:10px;
      }
    }
  .background-pattern-container {
    background: #999999;
    position: relative;
    background-size: cover;
    opacity: 0.8;
    padding: 2em 0 1em;
  }

  .blur-background-pattern-container {
    @include background(image-url('geometric-blur.png'));
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.features {
  padding: 50px 0px 70px;
  background:rgba(0,0,0,.4);
  margin-top:200px;
  position: relative;
  overflow: hidden;

  @include media($tablet){
    margin-top:150px;
  }
  @include media($mobile){
    margin-top: 50px;
    padding: 30px 0px 0px;
  }

  .feature-list{
    margin:70px 0 0;
    @include media($mobile){
      margin:50px 0 0 0;
    }
    @include media($tablet){
      margin:50px 0 0 0;
    }
    @include outer-container(100%);
    @include span-columns(12);
    display:none;
    .logo{
      background-repeat:no-repeat;
      background-position: center top;
      background-size: 150px 90px;
      vertical-align: top;
      padding-top:110px;
      text-align:center;
    }

    .simple-syntax{
      background-image: image-url('svg/icon_syntax.svg');
    }
    .parallel-exec{
      background-image: image-url('svg/icon_parallel_exec.svg');
    }
    .env-tools{
      background-image: image-url('svg/icon_tools.svg');
    }
    .ext-data-src{
      background-image: image-url('svg/icon_data_exec.svg');
    }
    .test-is-prod{
      background-image: image-url('svg/icon_refactor.svg');
    }
    .start-fast{
      background-image: image-url('svg/icon_start_fast.svg');
    }

    .grid-3 {
      display: inline-block;
      overflow:hidden;
      @include span-columns(3);
      position: relative;
      @include media($tablet) {
        @include span-columns(6);
        height:300px;
        margin-right: 0;
        margin-bottom: 40px;
      }
      @include media($mobile) {
        @include span-columns(12);
        height:auto;
        margin-right: 0;
        margin-bottom: 40px;
      }
    }

    .feature-desc{
      font-size:15px;
      padding:20px 40px;
      text-align:left;
    }
  }

  &.qas{
    .qas.feature-list{
      display:block;
    }
  }
  &.developers{
    .developers.feature-list{
      display:block;
    }
  }
}
.vision-wrapper{
  @include outer-container(100%);
}
.visiongauge{
  text-align: center;
  padding:50px 0px 0px;
  background: lighten($mustard,10%);

  strong{
    font-weight: bold;
    font-size: 20px;
  }

  .vision-col{
    padding:0px 20px 25px 70px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    @include media($mobile){
      width: 100%;
    }
  }
  .icon-os{ background-image: image-url('svg/vision/iconos.svg');}
  .icon-explevel{ background-image: image-url('svg/vision/icon_choice.svg');}
  .icon-plugin{ background-image: image-url('svg/vision/icon_pluggable.svg');}
  .icon-hardprob{ background-image: image-url('svg/vision/icon_stay_here.svg');}
  ul{
    overflow: hidden;
    margin:60px auto 30px;
    @include span-columns(8);
    @include shift(2);
    @include media($tablet){
      @include span-columns(10);
      @include shift(1);
    }
    @include media($mobile){
      margin-top:50px;
    }
  }
  li{
    @include span-columns(4 of 8);
    @include omega(2n);
    float:left;
    font-size: 16px;
    margin-bottom: 50px;
    @include media($mobile){
      width: 100%;
      display: block;
      margin-bottom: 30px;
    }
  }
}
.video{
  background:#f1f1f1;
  padding:50px 0px;
  @include media($mobile){
    padding:30px 0px;
  }
  text-align:center;

  iframe{
    margin:20px 0px 40px;
    border-top:3px solid $mustard;
    @include media($mobile){
      width:360px;
      height:205px;
    }
  }
}

.testimonials{
  text-align:center;
  background: #ffffff;
  padding:50px 0px .75em;
  }

  .row{
    margin: 70px 20px;
    @include media($tablet) {
      padding: 0 10px;
    }
    @include media($mobile) {
      padding: 0 20px;
    }
    .grid-4 {
      margin-right: 20px;
      border: 1px solid #B5B1B1;
      background:#f1f1f1;
      box-sizing: border-box;
      @include span-columns(4);
      position: relative;
      @include media($tablet) {
        margin-right: 10px;
      }
      @include media($mobile) {
        @include span-columns(12);
        margin-bottom: 10px;
        text-align: center;

      }
    .testimonial{
      font-size: 14px;
      border-left:4px solid $mustard;
      padding:15px 20px;
      margin-right: 20px;
      @include media($tablet){
        padding:10px 10px;
      }
      @include media($mobile){
        padding:10px 10px;
      }
      .client{
        font-size:12px;
        font-style: italic;
        text-align: right;
      }
      .text{
        display: inline-block;
        text-align:left;
      }

    }
  }
}


.features-filter-selector-wrap {
    position: relative;
    display: inline-block;
    overflow: visible;

    &.active{
      .features-filter-values-wrap{
        display:block;
      }
    }
    .features-selector{
      color: $mustard;
      i{
        top: -5px;
        position: relative;
        font-size: 20px;
        right: -6px;
      }
    }
}
.features-filter-values-wrap{
  position:absolute;
  display:none;
  right:0px;
  top:50px;
  background:rgba(255,255,255,0.9);
  color:#fff;
  font-size:14px;
  z-index:1;
  border-radius:2px;
  padding:0px 0px 10px;
  &:before{
    content: '';
    display:inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f1f1f1;
    position: absolute;
    right: 12px;
    top: -12px;
  }
  .features-filter-value{
    position:relative;
    line-height:22px;
    padding:10px 50px;
    font-size:18px;
    color:#000;
    text-transform:capitalize;
    &:hover{
      cursor:pointer;
      background:lighten($mustard,20%);
      color:#000;
    }
  }
}
