body.index {
  #hero {
    h1 em {
      font-weight: 800;
    }

    .parallax-content {
      position: relative;
      color: #9A9A8A;
      padding: 4.5em 0;
      width: 100% !important;
    }

  }

  $parallax-window-height: 400px;
  $parallax-background-height: $parallax-window-height * 2;

  .parallax-window {
    overflow: hidden;
    position: relative;
  }

  .parallax-content {
    position: relative;
    color: #9A9A8A;
    padding: 14em 0;
    text-align: center;

    background-size: 100%;
  	background-position: 50% 0;
  	background-repeat: no-repeat;
    h1 {
      font-size: 72px;
      font-weight: 800;
    }

    &.section1, &.section3 {
      background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color:#282828;
      background-size:16px 16px;
      h1, h3 {
        color: white;
      }

    }

    &.section2, &.section4 {
      background-color:#999999;
      h1, h3 {
        color: #222;
      }
    }
  }
}
