.hero-banner {
  color: #f1f1f1;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:auto;
  @include media($tablet) {
    padding: 1.2em 0;
  }
  background-image: image-url('herobanner.jpg');
  background-color:#000;
  background-repeat:no-repeat;
  background-size:100%;

  .hero-banner-content{
    margin: 200px 0px 0px;
    @include media($mobile){
      margin: 80px 0px 0px;
    }
  }
  h1{
    padding:0px 0px 0px;
    margin: 0 auto;
    text-align: center;
    @include media($tablet){
      font-size: 46px;
    }
    @include media($mobile){
      font-size: 36px;
    }
  }
  h1, h3 {
    color: white;
  }
  
  h3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .subquote{
    width:80%;
    margin:0px auto 50px;
    @include media($mobile){
      width:80%;
    }
  }
  .button{
      margin-right:30px;
      @include media($mobile){
        margin-right:10px;;
      }
    }
  .background-pattern-container {
    background: #999999;
    position: relative;
    background-size: cover;
    opacity: 0.8;
    padding: 2em 0 1em;
  }

  .blur-background-pattern-container {
    @include background(image-url('geometric-blur.png'));
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.features {
  padding: 50px 0px 0px;
  background:rgba(0,0,0,.4);
  margin-top:200px;
  @include media($tablet){
    margin-top:150px;
  }
  @include media($mobile){
    margin-top: 50px;
    padding: 30px 0px 0px;
  }
  .feature-list{
    margin:70px 0px 25px;
    display:none;
    @include outer-container(100%);
    li{
      display:inline-block;
      height:300px;
      overflow:hidden;
      @include span-columns(3);
      text-align:center;
      padding-top:110px;
      background-repeat:no-repeat;
      background-position:center top;
      background-size: 80px 80px;
      vertical-align:top;
      &:nth-child(4){
        margin-right:0px;
      }
      @include media($tablet){
        @include span-columns(4);
        @include shift(1.3);
        min-height:280px;
        background-size: 60px 60px;
        padding-top:80px;
      }

      @include media($mobile){
        @include span-columns(10);
        min-height:150px;
        background-size: 40px 40px;
        padding-top:60px;
      }

      &.simple-syntax{
        background-image: image-url('icon_syntax.svg');
      }
      &.parallal-exec{
        background-image: image-url('icon_parallel_exec.svg');
      }
      &.env-tools{
        background-image: image-url('icon_tools.svg');
      }
      &.ext-data-src{
        background-image: image-url('icon_data.svg');
      }

      .feature-desc{
        font-size:12px;
        padding:20px 40px;
        text-align:left;
      }
    }
  }

  &.qas{
    .qas.feature-list{
      display:block;
    }
  }
  &.developers{
    .developers.feature-list{
      display:block;
    }
  }
  &.managers{
    .managers.feature-list{
      display:block;
    }
  }
}
.vision{
  padding:0px;
  margin:0px;
  overflow:hidden;
  background:#f1f1f1;
  
  ul{
    display:table;
    width:100%;
    li{
      width:50%;
      text-align:center;
      font-size:14px;
      display:table-cell;
      padding:30px 0px;
      margin:0px;
      min-height:150px;
      &.vision-alt-bg{
        background:$mustard;
        @include media($mobile){
          background:none;
        }
      }
      @include media($mobile){
        @include span-columns(8);
        @include shift(2);
        border-bottom: 1px solid $mustard;
        min-height:130px;
        background-size: 40px 40px;
        padding-top:24px;
      }
    }
  }
}
.video{
  padding:50px 0px;
  @include media($mobile){
    padding:30px 0px;
  }
  text-align:center;

  iframe{
    margin:20px 0px 40px;
    border-top:3px solid $mustard;
    @include media($mobile){
      width:360px;
      height:205px;
    }
  }
}

.testimonials{
  text-align:center;
  background:#f1f1f1;
  padding:50px 0px .75em;
  @include media($mobile){
    padding:30px 0px;
  }
  ul{
    padding:50px 0px;
    @include media($mobile){
      padding:20px 0px;
    }
  }
  li{
    text-align:center;
    margin-bottom:20px;
    height:110px;
    padding:15px 0px;
    background:#fff;
    @include span-columns(3);
    @include media($tablet){
      @include span-columns(4);
      @include shift(1.3);
    }
    @include media($mobile){
      background:none;
      @include span-columns(2 of 3);
      @include shift(.5);
      margin-bottom: 0px
    }
    .client{
      font-size:12px;
      font-style: italic;
    }
  }
}

.community{
  width:100%;
  text-align:center;
  padding:50px 0px 0px;
  @include media($mobile){
    padding:30px 0px;
  }
  .community-list{
    padding-top:30px;
    @include outer-container;
  }

  a{
    @include span-columns(3);
    padding-top:110px;
    padding-bottom:44px;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center top;
    background-size: 80px 80px;
    vertical-align:top;
    color:#444;
    @include media($tablet){
      background-size: 60px 60px;
      padding-top:74px;
    }
    @include media($mobile){
      @include span-columns(4);
      @include shift(4);
      background-size: 40px 40px;
      padding-top:54px;
    }
  }
  .join-group{
      background-image: image-url('icon_groups.svg');
  }
  .contribute{
      background-image: image-url('icon_contribute.svg');
  }
  .contact{
      background-image: image-url('icon_contact.svg');
  }
  .followus{
      background-image: image-url('icon_follow.svg');
  }
}


.features-filter-selector-wrap {
    position: relative;
    display: inline-block;
    overflow: visible;

    &.active{
      .features-filter-values-wrap{
        display:block;
      }
    }
    .features-selector{
      color: $mustard;
      i{
        top: -14px;
        position: relative;
        font-size: 20px;
        top: 0px;
        right: -5px;
      }
    }
}
.features-filter-values-wrap{
  position:absolute;
  display:none;
  right:0px;
  top:50px;
  background:rgba(255,255,255,0.9);
  color:#fff;
  font-size:14px;
  z-index:1;
  border-radius:2px;
  padding:0px 0px 10px;
  &:before{
    content: '';
    display:inline-block;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f1f1f1;
    position: absolute;
    right: 12px;
    top: -12px;
  }
  .features-filter-value{
    position:relative;
    line-height:22px;
    padding:10px 50px;
    font-size:18px;
    color:#000;
    text-transform:capitalize;
    &:hover{
      cursor:pointer;
      background:lighten($mustard,20%);
      color:#000;
    }
  }
}