html {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  @include media($mobile){
      font-size: 14px;
  }
}

body, header, footer, #content {
   @include span-columns(12);
}
h2{
  @include media($tablet){
      font-size: 30px;
  }
  @include media($mobile){
      font-size: 26px;
  }
}
p.text-block{
    margin:0px 20px 15px;  
    line-height: 1.5;
    font-size:15px;
}
header, footer {
  $navigation-height: 3em;
  $navigation-submenu-padding: 1em;

  a {
    color: #333;
  }

  .nav-wrapper {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    @include clearfix;

    .logo {
      float: left;
      width: 150px;
      margin-left: 1em;
      padding-top:12px;
    }

    .header-nav {
      display: none;
      clear: both;

      @include media($large-screen) {
        display: block;
        float: right;
        clear: none;
        margin-top: 12px;
        font-weight: 300;
      }

      .nav-link {
        background: white;
        display: block;
        line-height: $navigation-height;
        font-size:1.3em;
        //text-align: right;
        text-align: center;
        width: 100%;
        z-index: 9999;
        position: relative;
      
        @include media($large-screen) {
          line-height: 2.4em;
          display: inline-block;
          background: transparent;
          font-size:1em;
          width: auto;
          padding-right: 1em;
          min-width: 80px;
          a {
            font-size: 18px;
            display: block;
            border-bottom : 2px #000 solid;
            font-weight: 400;
          }
        }

        &.nav-drilldown{
          span.expand{
            display: none;
            @include media($iPad-portrait) {
              display: inline-block;
              line-height: 1;
              padding: 5px;
              background: #EDBE26;
              margin-left: 10px;
            }
          }
          &:hover{
            .nav-drilldown-list{
              display:block;
              @include media($tablet) {
                display: none;
              }
            }
          }
        }
        
        .nav-drilldown-list{
          display: none;
          position: absolute;
          width:150px;
          left:0px;
          top: 45px;
          background: #f1f1f1;
          z-index: 11;
          border-radius: 5px;
          border-radius: 0;
          @include media($tablet) {
            position: static;
            width: 100%;
          }
          li{
            a{
              color: #000 !important;
              font-size: 16px;
              display: block;
              font-weight: 400;
              border: none;
              &:hover{
                background: #f9da70;
                border: none;
              }
            }
          }
        }
      }

      .nav-link-short {
        @extend .nav-link;
        a{
          font-size:26px;
        }
      }
    }

    .navigation-menu-button {
      float: right;
      line-height: $navigation-height;
      padding-right: $navigation-submenu-padding;

      @include media($large-screen) {
        display: none;
      }

      .fa-bars {
        margin-top: 0.4em;
        color:#ffffff;
      }
    }
  }

  &.dark {
    .nav-wrapper {
      background-color: $transparent-smoke;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);


      .header-nav {
        .nav-link{
          @include media($mobile){
            padding-right:0px;
          }
          a{
            text-align:center;
            @include media($mobile){
              display:block;
              font-size: .9em;
              line-height: 2.5em;
            }
            &:hover{
              border-bottom: 2px solid white;
              @include media($mobile){
                border-bottom:none;
                background:#f1f1f1;
              }
            }
          } 
        }
      }

      @include media($large-screen) {
        ul.header-nav li.nav-link a {
          color: #EEE;
        }
      }
    }
  }

  &.light {
    .nav-wrapper {
      background-color: rgba(255, 255, 255, 0.95);
      border-bottom: 1px solid #CCC;

      .logo {
      }

      .header-nav {
        .nav-link:hover {
          a {
            color: $mustard;
          }        
        }
      }

      .fa-bars {
        color: #000;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  border-top: 3px solid $mustard;
  z-index: 10;
}

footer {
  position: relative;
  z-index: 100;
  background-color: #515151;
  color:#fff;
  text-align: center;
  padding: 0 0 0.75em 0;
  ul li {
    display: inline;
    padding: 0 .75em;
  }
  .disclamer{
    font-size:14px;
  }

  .community{
    width:100%;
    text-align:center;
    padding:50px 0px 0px;
    background:#f1f1f1;
    color:#444;
    overflow:hidden;
    @include media($mobile){
      padding:30px 0px;
    }
    .community-list{
      padding-top:30px;
      @include span-columns(8);
      @include shift(2);
      @include media($mobile){
        @include span-columns(6);
        @include shift(3);
      }
    }

    a{
      @include span-columns(3);
      padding-top:80px;
      padding-bottom:44px;
      text-align:center;
      background-repeat:no-repeat;
      background-position:center top;
      background-size: 50px 50px;
      vertical-align:top;
      color:#444;
      @include media($tablet){
        background-size: 40px 40px;
        padding-top:74px;
      }
      @include media($mobile){
        @include span-columns(12);
        background-size: 40px 40px;
        margin-right: 0;
        padding: 4px 0 15px 25px;
        margin-bottom: 20px;
      }
    }

    background: $light-gray;
    .join-group{
      background-image: image-url('svg/community/icon_groups.svg');
    }
    .contribute{
      background-image: image-url('svg/community/icon_contact.svg');
    }
    .contact{
      background-image: image-url('svg/community/icon_watch.svg');
    }
    .followus{
      background-image: image-url('svg/community/icon_twitter.svg');
    }
  }
}

#content{
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

#hero {
  color: #111;
}
