html {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  @include media($mobile){
      font-size: 14px;
  }
}

body, header, footer, #content {
   @include span-columns(12);
}
h2{
  @include media($tablet){
      font-size: 30px;
  }
  @include media($mobile){
      font-size: 26px;
  }
}
header, footer {
  $navigation-height: 3em;
  $navigation-submenu-padding: 1em;

  a {
    color: #333;
  }

  .nav-wrapper {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    @include clearfix;

    .logo {
      float: left;
      width: 150px;
      margin-left: 1em;
      padding-top:12px;
    }

    .header-nav {
      display: none;
      clear: both;

      @include media($large-screen) {
        display: block;
        float: right;
        clear: none;
        margin-top: 12px;
        font-weight: 300;
      }

      .nav-link {
        background: white;
        display: block;
        line-height: $navigation-height;
        font-size:1.3em;
        overflow: hidden;
        padding-right: 1em;
        text-align: right;
        width: 100%;
        z-index: 9999;
      
        @include media($large-screen) {
          line-height: 2.4em;
          padding: 0 10px;
          display: inline-block;
          text-align: center;
          background: transparent;
          font-size:1em;
          width: auto;
          min-width: 80px;
        }

        a {
          font-size: 16px;
        }
      }

      .nav-link-short {
        @extend .nav-link;
        a{
          font-size:26px;
        }
      }
    }

    .navigation-menu-button {
      float: right;
      line-height: $navigation-height;
      padding-right: $navigation-submenu-padding;

      @include media($large-screen) {
        display: none;
      }

      .fa-bars {
        margin-top: 0.4em;
        color:#ffffff;
      }
    }
  }

  &.dark {
    .nav-wrapper {
      background-color: $transparent-smoke;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);


      .header-nav {
        .nav-link{
          @include media($mobile){
            padding-right:0px;
          }
          a{
            text-align:center;
            @include media($mobile){
              display:block;
            }
            &:hover{
              border-bottom: 2px solid white;
              @include media($mobile){
                border-bottom:none;
                background:#f1f1f1;
              }
            }
          } 
        }
      }

      @include media($large-screen) {
        ul.header-nav li.nav-link a {
          color: #EEE;
        }
      }
    }
  }

  &.light {
    .nav-wrapper {
      background-color: rgba(255, 255, 255, 0.95);
      border-bottom: 1px solid #CCC;

      .logo {
      }

      .header-nav {
        .nav-link:hover {
          a {
            color: $mustard;
          }        
        }
      }

      .fa-bars {
        color: #000;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  border-top: 3px solid $mustard;
  z-index: 10;
}

footer {
  position: relative;
  z-index: 100;
  background-color: #515151;
  color:#fff;
  text-align: center;
  padding: 1.25em 0 0.75em 0;
  ul li {
    display: inline;
    padding: 0 .75em;
  }
  .disclamer{
    font-size:14px;
  }
}

#content{
  margin-top: 0;
  position: relative;
  z-index: 1;
}

#hero {
  color: #111;

  
}
