.header_image_plugins{
  background-image: image-url('subpages/subpage_plugins.jpg');
}

.plugin-list {
  @include media($tablet){
    padding: 20px 15px 20px 15px;
  }

  .text-block{
    @include link-style();
  }
  padding:50px 0px;
  max-width:68em;
  margin-left: auto;
  margin-right: auto;

  h2{
    text-align: center;
  }

}

.plugin-item{
  @include span-columns(12);
  margin:10px 0 0 0;

  h3{
    text-align: left;
  }
  .plugin-item-container{
      margin: 1% 2%;

  }


  .grid-3 {
    @include span-columns(3);
    min-height: 210px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 1px solid #979797;
    position: relative;
    background-color: #F7F7F7;
    @include media($tablet) {
      @include span-columns(6);
      margin-right: 1%;
      margin-bottom: 1.2%;
    }
    @include media($mobile) {
      @include span-columns(12);
      margin-right: 0;
      margin-bottom: 2.5%;
      min-height: 100px;
    }

  }

  .details {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    @include media($mobile) {
      display: none;
    }
    @include link-style();
  }

  h5{
    margin: 5px 0 15px;
    font-weight: bold;
    span{
      float: left;
    }
    .link{
      @include link-style();
      display: none;
      float: right;
      @include media($mobile) {
        display: inline-block;
      }
    }
  }

  .action {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    a{
      background-color: #ABABAB;
      color: #ffffff;
      padding: 7px 7px 7px 70px;
      display:block;
      font-weight: bold;
      background-image: image-url('svg/plugins/icon_button_download_plugin.svg');
      background-repeat: no-repeat;
    }
  }

  .in-progress{
    bottom: 0;
    display:block;
    padding: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    font-style: italic;
    font-size: .8em;
  }
}



