body.team {

  &#content {
  }

  footer {
    background-color: lightgray;
  }

  .our-team-hero {
    @include span-columns(12);
    color: #5d5d5d;

    .team-bg {
      @include span-columns(12 of 12);
      position: relative;
      background-size: cover;
      padding: 8em 0;

      .hero-content {
        @include span-columns(8 of 12);
        @include shift(2);

        h1 {
          margin: 0 auto .4em;
        }

        h3 {
          line-height: 1.5;
        }
      }
    }
  }

  .team-members {
    @include outer-container;
    width: 100%;
    margin-bottom: 2em;
    .team-members-list {
      @include span-columns(8);
      @include shift(2);
      float: inherit;
      $column_small_screen_width: 17em;

      &.two-member {
        @include span-columns(6);
        @include shift(3)
      }

      .team-row {
        @include span-columns(8 of 8);
        @include fill-parent;
        @include row(table);
        float: inherit;

        &.two-member {
          @include span-columns(3);
          @include fill-parent;
          @include row(table);
          float: inherit;
        }
        .member {
          @include media($medium-screen) {
            @include span-columns(2);
          }
          position: relative;
          height: 13em;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          width: $column_small_screen_width;
          margin: auto;
          margin-bottom: 1px;

          & + .member {
            border-left: 1px solid white;
          }

          &.apoorva {
            background-image: image-url('profilepics/apoorva.png');
          }
          &.deepthi {
            background-image: image-url('profilepics/deepthi.png');
          }
          &.kashish {
            background-image: image-url('profilepics/kashish.png');
          }
          &.prateek {
            background-image: image-url('profilepics/prateek.png');
          }
          &.srikanth {
            background-image: image-url('profilepics/srikanth.png');
          }

          .profile {
            @include fill-parent;
            position: absolute;
            bottom: -0em;
            height: 3.5em;
            color: white;
            padding: 2px 8px;
            background-color: $transparent-smoke;

            @include media($large-screen) {
              bottom: -3.5em;
              opacity: 0;
            }
          }

          @include media($large-screen) {
            &:hover {
              .profile {
                @include transform(translateY(-3.5em));
                @include transition(opacity 0.3s ease, transform 0.3s ease);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
