// framework css
@import "compass/reset";
@import "bourbon";
@import "base/base";
@import "neat";
// our own css
@import "IEfix";
@import "breakpoints";
@import "common";

@import "layout";
@import "404";

@import "home";
@import "getstarted";
@import "contribute";
@import "blog";
@import "cla";
@import "plugins";
@import "blog_post";
@import "blog_listing";
@import "blogs_by_tag";
@import "fonts";
@import "animate";

body {
    -webkit-font-smoothing: antialiased;
    font: normal 112.5%/1.65 "open sans", "Helvetica", "Arial", sans-serif, sans-serif;
    color: #444;
}

i.fa-twitter {
    font-size: 1.3em;
}

.row {
    @include outer-container;
}

.section-wrapper {
    @include outer-container(100%);
    @include clearfix;
    padding: 3em;
    position: relative;
    background-color: transparent;
}

.book {
    margin-top: 4em;
}
