// framework css
@import "compass/reset";
@import "bourbon";
@import "base/base";
@import "neat";


// our own css
@import "breakpoints";
@import "layout";
@import "home";
@import "fonts";
@import "animate";

body {
  -webkit-font-smoothing: antialiased;
    font: normal 112.5%/1.65 "open sans", "Helvetica", "Arial", sans-serif, sans-serif;
    color:#444;
}

#powered-by {
  text-align: center;
  padding-top:20px;
  .section-wrapper {
    padding-bottom: 5px;
  }
  img {
    max-width: 250px;
  }
}

i.fa-twitter {
  font-size: 1.3em;
}

.row {
  @include outer-container;
}

.section-wrapper {
  @include outer-container(100%);
  @include clearfix;
  padding: 3em;
  position: relative;
  background-color: transparent;
}

.book {
  margin-top: 4em;
}
