#{$all-button-inputs},
button,.button{
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $button-color;
  border-radius: $base-border-radius;
  border: none;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: lighten($button-color, 10%);
    color: #222;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.primary-button{
  background-color: $action-color;
  &:hover{
    background-color: lighten($action-color, 10%);
  }
}
