body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1
{
  font-family: $heading-font-family;
  font-size: 56px;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 800;
  text-align: center;
  font-weight:400;
}

h2
{
  font-family: $heading-font-family;
  font-size: 32px;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h3
{
  font-family: $heading-font-family;
  font-size: 22px;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 500;
  text-align: center;
}

h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  text-decoration: none;
  transition: color 0.1s linear;
  cursor:pointer; 
  
  &:active,
  &:focus,
  &:hover {
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
