.header_image_started {
  background-position: 0 bottom;
}

.download-area {
  background: $primary-color;
  background-image: image-url('bg.jpg');
  background-size: cover;
  // color: #fff;
  padding: 20px 0 10px;
  margin-top: -30px;
  @include clearfix;

  @media (min-width:$screen-tablet) {
    padding: 50px 0 0;
    margin-top: -30px;
  }

  .sub-title {
    color: #333;
    margin: 0 0 10px;
    text-align: center;
  }

  .info {
    color: #fff;
    text-align: center;
  }

}

.page-block {
  margin: 50px 0;

  @media (min-width:$screen-desktop) {
    padding-left: 100px;
  }

}

.tab_content {
  counter-reset: section;

  h3 {
    position: relative;

    @media (max-width:$screen-sm-max) {
      margin-left: 40px;
    }

    @media (min-width:$screen-desktop) {
      border-bottom: 1px solid #ccc;
    }

  }

  h3::before {
    counter-increment: section;
    content: counter(section);
    left: -50px;
    font-size: 17px;
    top: -1px;
    left: -47px;
    margin-right: 10px;
    background: #EFD332;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;
    line-height: 30px;
    background: $primary-color;

    @media (min-width:$screen-desktop) {
      font-size: 26px;
      top: -10px;
      left: -80px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

  }

}

.instruction {
  margin-bottom: 20px;
}

.download-title {
  background: #ccc;
  display: inline-block;
  margin-bottom: 0;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  font-size: 12px;

  strong {
    font-size: 14px;
  }

}

.download-section {
  border: 1px solid $border;
  padding: 20px;
  border-radius: 0 $border-radius $border-radius;
  margin-bottom: 20px;
  @include clearfix;
  overflow-x: auto;

  @media (min-width:$screen-tablet) {
  }

  .download-bit {
    @media (max-width:$screen-xs-max) {
      &:first-child {
        margin-bottom: 15px;
        border-bottom: 1px solid $border;
        padding-bottom: 10px;
      }

    }

    @media (min-width:$screen-tablet) {
      float: left;
      width: 50%;
      padding: 0 10px;
    }

  }

  .download {
    display: inline-block;
    font-size: 15px;
    color: #eee;
    margin-right: 10px;
    height: 39px;
    background-color: $gray-light;
    font-weight: bold;
    background-image: url("../images/svg/get_started/icon_button_download.svg");
    background-position: 0 -4px;
    background-repeat: no-repeat;
    border-radius: 3px;
    line-height: 39px;
    padding: 0px 20px 0px 70px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;

    &:hover {
      background-color: $gray;
      transition: all 0.3s ease-in-out;
      color: #fff;
    }

  }

  .sha {
    display: block;
    font-size: 13px;
    word-break: break-all;
  }

}

.code-box {
  padding: 30px 20px;
  background: #071322;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin-bottom: 20px;
  overflow-x: auto;

  code {
    color: white;
    margin-bottom: 10px;
    display: block;
    font-family: monospace, monospace;
    font-size: 1em;
  }

}

