footer {
	@media (min-width:$screen-tablet) {
		padding-top: 50px;
	}

	p {
		font-size: 14px;
	}

}

.join-community {
	background: #555555;
	padding: 30px 0;
	position: relative;

	h3 {
		text-align: center;
		margin: 0 0 30px 0;
		position: relative;
		z-index: 1;
		color: #fff;
	}

	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		position: relative;
		z-index: 2;
		@include flexbox;
		@include justify-content(center);
	}

	li {
		display: inline-block;
		padding: 0 10px;
		transform: scale(1.1);
		cursor: pointer;

		@media (min-width:$screen-tablet) {
			border-right: 1px solid #484848;
			padding: 0 50px;
		}

		&:first-child {
			@media (min-width:$screen-tablet) {
				border-left: 1px solid #484848;
			}

		}

		&:hover {
			.icon {
				transform: scale(1.1);
			}

			.join-us {
				background: url('/assets/images/svg/go.cd_jc-joinus-hover.svg');
			}

			.watch-us {
				background: url('/assets/images/svg/go.cd_jc-watchus-hover.svg');
			}

			.develop-with-us {
				background: url('/assets/images/svg/go.cd_jc-jitter-hover.svg');
			}

			.follow-us {
				background: url('/assets/images/svg/go.cd_jc-twitter-hover.svg');
			}

			.contribute-cla {
				background: url('/assets/images/svg/go.cd_jc-cla-hover.svg') no-repeat 0 7px;
			}

		}

	}

	a {
		display: block;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 400;
		line-height: normal;
	}

	.icon {
		display: block;
		margin: 0 auto 10px;
		transition: all .2s ease-in-out;
		display: block;
		width: 40px;
		height: 56px;

		&:hover {
			transform: scale(1.1);
		}

	}

}

.join-us {
	background: url('/assets/images/svg/go.cd_jc-joinus.svg');
}

.watch-us {
	background: url('/assets/images/svg/go.cd_jc-watchus.svg');
}

.develop-with-us {
	background: url('/assets/images/svg/go.cd_jc-jitter.svg');
}

.follow-us {
	background: url('/assets/images/svg/go.cd_jc-twitter.svg');
}

.contribute-cla {
	background: url('/assets/images/svg/go.cd_jc-cla.svg') no-repeat 0 7px;
}

.powered-by {
	padding: 20px 0;
	text-align: center;
	color: $gray-light;

	a {
		margin-bottom: 20px;
		display: inline-block;

		@media (min-width:$screen-tablet) {
		}

	}

}

.credits {
	text-align: center;

	img {
		height: 30px;
	}

	a {
		font-size: 12px;
		color: #333;
	}

}

.powered-by {
	background-color: #333333;
	clear: both;
	text-align: center;
	padding-top: 20px;

	.section-wrapper {
		padding-bottom: 5px;
	}

	img {
		max-width: 250px;
	}

}