---
pageable: true
---

.subheader
  %h1.page-label Blog


%section.page-content
  .tag-title
    Viewing
    %span.tag
    = tagname
    posts

  = partial('blog-listing.haml', :locals =>{ prev_page: prev_page, next_page: next_page, page_number: page_number, num_pages: num_pages})

