---
title: Why Markdown
date: 24 September 2015
tags: Markdown, BDD, testing
author: Deepthi
summary: Why Gauge uses Markdown, the benefits of using it. What can be the limitations of using Markdown. Why is it useful for test specification.
published: false
---

.blogpost
  .metadata
    .blog-title
      = current_page.data.title
    .item
      Posted By
      %span.author= current_page.data['author']
    .item
      = current_page.data['date']
    .tags
      - current_page.tags.sort.each do |tag|
        = link_to tag, tag_path(tag)

  .blog-content
    %p Gauge uses the very popular markup syntax ‘Markdown’ to author tests. A lot of our conversation with Gauge users, and non-Gauge users has been around why Markdown. Some felt using Markdown overloaded it, some loved it.
    %p Very often we have people asking us why we didn’t choose Asciidoc. Asciidoc was definitely an option. It’s simple, popular and has an ecosystem of tools supporting it. Just that Markdown has more. We wanted something simple, something that is widely used. It is a lot more limited in terms of features than asciidoc, but we don’t need anything more complex because we’re authoring tests. We also like that fact that md can be translated to other formats like pdf and html etc so easily. That is how we would like the markup language that is used to generate some form of documentation to be.
    %p Living documentation has two parts to it. One - to be authored is a simple format that is readable. Two - to be rendered in many
    %p It’s the way you’d write an email, and that is intuitive.
