---
title: Overview of Gauge's plugin based architecture
date: 26 November 2015
tags: Plugins
author: Apoorva M
summary: Gauge has a plugin based architecture. This post gives a high level overview of what are Gauge plugins and how Gauge core communicates with them.
published: false
---

.blogpost
  .metadata
    .blog-title
      = current_page.data.title
    .item
      Posted By
      %span.author= current_page.data['author']
    .item
      = current_page.data['date']
    .tags
      - current_page.tags.sort.each do |tag|
        = link_to tag, tag_path(tag)

  .blog-content
    %p A good point to start talking of plugins in Gauge is the Architecture of Gauge. Gauge has a plugin based architecture. What does it mean? How does it work?

    %p The Gauge architecture basically contains three major components namely
    %ul
      %li Gauge Core
      %li Language Runners
      %li Other plugins

    .sub-section
      Gauge Core
    %p The core is the heart of Gauge and takes care of the entire spec execution lifecycle. We have designed the core to be language agnostic. So support for a new language can be easily added without modifying the core.

    %p Things that are central to Gauge like setting up environment, parsing specifications, parallel execution, etc. are completely handled by the core. While language specific things are delegated to respective language runners. The core orchestrates the entire delegation with various langauge runners (and other plugins).
    
    %p 
      Gauge core communicates with the plugins via
      %a{:href => "https://developers.google.com/protocol-buffers/?hl=en"} Protocol Buffers
      over TCP.
      
    .sub-section
      Language Runners
    %p Language runners are also Gauge plugins. They handle the language specific parts of the execution life cycle. 
    
    .sub-section
      Other plugins
    %p 
      Gauge has a bunch of other 
      %a{:href => "/plugins"}plugins 
      like HTML-report and XML-report that generates the execution reports as well as a Maven plugin that helps you create and manage a Gauge project with Maven.

    %p There are even IDE plugins for IntelliJ, Visual Studio and Eclipse which integrates Gauge specific functionality into the IDE.

    .section-title
      Overview of Gauge execution lifecycle

    %p Let’s take a look at the Gauge execution lifecycle at a high level. Gauge specs can be executed in console by running the command

    %pre
      %code
        :preserve
          gauge specs

    %p This invokes Gauge core which performs operations like loading environment, parsing the specs, etc. The core then invokes a language runner to delegate the langauge specific tasks. The language runner sends back the results to the core which then consolidates the results and sends them to report plugins to generate reports.