.error_page
  .error_message
    <i class="fa fa-frown-o"></i>
    .message
      %p Sorry, we can't find the page you're looking for.
      %P
        If you're looking for information on Gauge, you can find it
        %a{:href => "http://getgauge.io"} here.