---
pageable: true
credit: Photo Credit - Maxime Raphael
credit_link: https://www.flickr.com/photos/maximeraphael/14267582860

---

.inner-banner.header_image_blog
  .container
    .page-label Blog

  = partial('blog-listing.haml', :locals =>{ prev_page: prev_page, next_page: next_page, page_number: page_number, num_pages: num_pages, page_articles: page_articles})