.subheader
  %h1.page-label BLOGS
%section.blog-block
  %h2 
    %a{:href => "/#"}Blog About Gauge
  %span.author Deepthi Chandramauli
  %time{:datetime=>"2015-21-07"} July21,2015
  %p.blog-summary You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues...

  %p.tags 
    %a{:href => "/#"} Gauge 
    %a{:href => "/#"} Test automation
    %a{:href => "/#"} Test
  %span.comments-info
    %i.fa.fa-comment
    3 comments 


%section.blog-block
  %h2 
    %a{:href => "/#"}Blog About Gauge
  %span.author Deepthi Chandramauli
  %time{:datetime=>"2015-21-07"} July21,2015
  %p.blog-summary You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues...

  %p.tags 
    %a{:href => "/#"} Gauge 
    %a{:href => "/#"} Test automation
    %a{:href => "/#"} Test

%section.blog-block
  %h2
    %a{:href => "/#"} Blog About Gauge
  %span.author Deepthi Chandramauli
  %time{:datetime=>"2015-21-07"} July21,2015
  %p.blog-summary You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues...

  %p.tags 
    %a{:href => "/#"} Gauge 
    %a{:href => "/#"} Test automation
    %a{:href => "/#"} Test

%section.blog-block
  %h2
    %a{:href => "/#"} Blog About Gauge
  %span.author Deepthi Chandramauli
  %time{:datetime=>"2015-21-07"} July21,2015

  %p.blog-summary You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues. You can report an issue you found, or you can help us test Gauge and find new issues... 
  
  %p.tags 
    %a{:href => "/#"} Gauge 
    %a{:href => "/#"} Test automation
    %a{:href => "/#"} Test