---
pageable: true
---

.subheader
  %h1.page-label Blog

%section.page-content
  = partial('blog-listing.haml', :locals =>{ prev_page: prev_page, next_page: next_page, page_number: page_number, num_pages: num_pages, page_articles: page_articles})