%section.contribute
  %h3 Quick Links
  .quick-links
    .links-row
      .links
        .quick-link
          %a{:href => "https://github.com/getgauge/gauge"}
            .icon
              %i.fa.fa-github
            .name
              %h5 Gauge codebase
        .quick-link
          %a{:href => "https://github.com/getgauge/gauge/issues"}
            .icon
              %i.fa.fa-bug
            .name
              %h5 Issues
      .links
        .quick-link
          %a{:href => "https://groups.google.com/forum/#!forum/getgauge"}
            .icon
              %i.fa.fa-users
            .name
              %h5 User forum
        .quick-link
          %a{:href => "/documentation/user/current"}
            .icon
              %i.fa.fa-book
            .name
              %h5 Technical Docs
      .links
        .quick-link
          %a{:href => "/documentation/technical/current"}
            .icon
              %i.fa.fa-book
            .name
              %h5 User docs
        .quick-link
          %a{:href => "/documentation/user/current/plugins/list"}
            .icon
              %i.fa.fa-plug
            .name
              %h5 Plugins
  .filler
  .contribute-heading
    How can I contribute ?
  .filler
  .contribution-steps
    .contribution-step
      .involvement-heading Get involved
      %ul.contribution-list
        %li.contribution-item
          %span
            %a{:href => "https://github.com/getgauge/gauge/issues"}
              .name
              Submit an issues

        %li.contribution-item
          Send a pull request

        %li.contribution-item
          %span Help us improve
          %span
            %a{:href => "https://github.com/getgauge/documentation"}
              user documentation

        %li.contribution-item
          %span Participate on the
          %span
            %a{:href => "https://groups.google.com/forum/#!forum/getgauge"}
              gauge forum

    .contribution-step
      .involvement-heading Contribution Process
      %ul.contribution-list
        %li.contribution-item
          %span If you're planning to contribute any code or content, we will have to ask you to sign our
          %span
            %a{:href => "/cla"}
              Contributor License Agreement
          %span before we can accept your pull request.

        %li.contribution-item
          We will expect you to send us patches of the issue you work on.
