.subheader
  .page-label Contribute
%section.contribute-section
  %section.how-contribute
    %h2 How can I contribute ?
    %p Coding is not the only way you can contribute to Gauge. Take a look below to learn more about how you can contribute and become part of the growing gauge community.
    %p Any of the below are considered contribution and we welcome them all.

    %ul.contribution-list
      %li
        %h3 Test Gauge
        .icon-contribution-list
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        %h3 Discuss With Community
        .icon-contribution-list
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        %h3 Blog About Gauge
        .icon-contribution-list
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.

    %ul.contribution-list
      %li
        %h3 Enhance Our Examples
        .icon-contribution-list
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.
      
      %li
        %h3 Improve Our documentation
        .icon-contribution-list 
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        %h3 Code For Gauge
        .icon-contribution-list
          %i.fa.fa-space-shuttle
        .desc You can report an issue you found or you can help us test Gauge and find new issues.

  %section.contribution-process
    %h2 Contribution Process
    %img{:alt => "Contribution process",:width => "600",:height => "309", :src => asset_path(:images, 'contribution-process.png')}

  %section.help
    %h2 How Do I Get Help?
    %p Coding is not the only way you can contribute to Gauge. Take a look below to learn more about how you can contribute and become part of the growing gauge community.

