.subheader
  .page-label Contribute
%section.contribute-section
  %section.how-contribute
    %h2 How you can contribute?
    %p.text-block Coding is definitely not the only way you can contribute to Gauge. There are many valuable ways to contribute to the product and to help the growing Gauge community.

    %ul.contribution-list
      %li
        .contribution-list-item
          %h3 Test Gauge
          .icon-cl.icon-cl-1
          .desc You can report an issue you found or you can help us test Gauge and find new issues. Gauge is tested with Gauge so you can also add to our existing automated tests.

      %li
        .contribution-list-item
          %h3 Discuss with the Community
          .icon-cl.icon-cl-2
          .desc
            We have an active
            %a{:href => "https://groups.google.com/forum/#!forum/getgauge"} forum
            where issues, features and ideas are discussed. Start a discussion, or help someone get started with Gauge.

      %li
        .contribution-list-item
          %h3 Blog about Gauge
          .icon-cl.icon-cl-3
          .desc Contribute to our blog. Maybe you’ve used Gauge in a different way, or you did an analysis of how a feature works. If you write about experiences like these, we’d love to add them to the Gauge blog.

      %li
        .contribution-list-item
          %h3 Enhance our Examples
          .icon-cl.icon-cl-4
          .desc We maintain a set of examples that evolve as we add new features and languages. This is to help someone new to Gauge get started easily. If you’ve tried something you think would be useful to the community, please add it.

      %li
        .contribution-list-item
          %h3
            Improve our Documentation
          .icon-cl.icon-cl-5
          .desc If you enjoy doing a detailed analysis of how something works, whether it’s an API or a feature, please use this talent to help us improve our documentation. This will definitely help the Gauge community at large.


      %li
        .contribution-list-item
          %h3 Code for Gauge
          .icon-cl.icon-cl-6
          .desc Gauge has many repositories, all on GitHub. Gauge core is written in Golang. Gauge also has a rich plugin repository, and not everything in there is in Golang. If this is the kind of thing you like, then you can pick up any pending feature/bug, simple or complex. Just make sure you write a test and send us a pull request.

  %section.contribution-process
    %h2 Code Contribution Process
    %ul  
      %li.step1 Find an issue
      %li.step2 Assign the issue to yourself
      %li.step3 Fork the repository, keep it in sync with the master
      %li.step4 Talk to us about what you want to do
    %ul.block-rtl  
      %li.step8 We Merge your Request
      %li.step7 Fill out the CLA Form
      %li.step6 Submit a Pull Request
      %li.step5 Make your changes

  %section.help
    %h2 How do I get help?
    %p.text-block
      We have issues of varying levels across all Gauge repositories, start with something simple and work your way up. All these issues tagged as
      %strong 'Help Needed'.
      We'd suggest you pick a small bug to start with. These have been tagged as
      %strong
        'Easy Picks'.
      If you need any help getting started, then you can talk to us on
      %a{:href => "https://gitter.im/getgauge/chat"} Gitter
      or on our
      %a{:href => "https://groups.google.com/forum/#!forum/getgauge" }discussion forum.
      We would be happy to help you and answer any questions you might have along the way.
    %p.text-block
      If your contribution is a code contribution, then If you do send us a pull request, we’ll need you read this agreement and sign the
      = link_to 'Contributor License Agreement.', '../cla/index.html'
