.subheader
  .page-label Contribute
%section.contribute-section
  %section.how-contribute
    %h2 How can I contribute ?
    %p.text-block Coding is not the only way you can contribute to Gauge. Take a look below to learn more about how you can contribute and become part of the growing gauge community.
    %p.text-block Any of the below are considered contribution and we welcome them all.

    %ul.contribution-list
      %li
        .contribution-list-item
          %h3 Test Gauge
          .icon-cl.icon-cl-1
          .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        .contribution-list-item
          %h3 Discuss With Community
          .icon-cl.icon-cl-2
          .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        .contribution-list-item
          %h3 Blog About Gauge
          .icon-cl.icon-cl-3
          .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        .contribution-list-item
          %h3 Enhance Our Examples
          .icon-cl.icon-cl-4
          .desc You can report an issue you found or you can help us test Gauge and find new issues.
      
      %li
        .contribution-list-item
          %h3 
            Improve Our
            %br Documentation
          .icon-cl.icon-cl-5
          .desc You can report an issue you found or you can help us test Gauge and find new issues.

      %li
        .contribution-list-item
          %h3 Code For Gauge
          .icon-cl.icon-cl-6
          .desc You can report an issue you found or you can help us test Gauge and find new issues.

  %section.contribution-process
    %h2 Contribution Process
    %ul  
      %li.step1 Find an issue
      %li.step2 Assign it to Yourself
      %li.step3 Fork the Repository
      %li.step4 Talk to us about what you want to do
    %ul.block-rtl  
      %li.step8 We'll Merge Your Request
      %li.step7 Fill out our CLA Form
      %li.step6 Submit a Pull Request
      %li.step5 Make your changes
      
      
      

    / %img{:alt => "Contribution process",:width => "600",:height => "309", :src => asset_path(:images, 'contribution-process.png')}

  %section.help
    %h2 How Do I Get Help?
    %p.text-block Coding is not the only way you can contribute to Gauge. Take a look below to learn more about how you can contribute and become part of the growing gauge community.

