%section.contribute
  .contribute-heading
    How can I contribute ?

  .quick-links
    .links-heading Quick Links

    %ul.links-row
      %li.quick-link
        %a{:href => "https://github.com/getgauge/gauge"}
          .icon
            %i.fa.fa-github.fa-5x
          .name
            %h5 Gauge codebase
      %li.quick-link
        %a{:href => "https://github.com/getgauge/gauge/issues"}
          .icon
            %i.fa.fa-bug.fa-5x
          .name
            %h5 Issues
      %li.quick-link
        %a{:href => "https://groups.google.com/forum/#!forum/getgauge"}
          .icon
            %i.fa.fa-users.fa-5x
          .name
            %h5 User forum
      %li.quick-link
        %a{:href => "/documentation/user/current"}
          .icon
            %i.fa.fa-book.fa-5x
          .name
            %h5 Technical Docs
      %li.quick-link
        %a{:href => "/documentation/technical/current"}
          .icon
            %i.fa.fa-book.fa-5x
          .name
            %h5 User docs
      %li.quick-link
        %a{:href => "/documentation/user/current/plugins/list"}
          .icon
            %i.fa.fa-plug.fa-5x
          .name
            %h5 Plugins

  .contribution-steps
    .contribution-step
      .involvement-heading Get involved by
      %ul.contribution-list
        %li.contribution-item
          %span
            %a{:href => "https://github.com/getgauge/gauge/issues"}
              .name
              Submitting issues

        %li.contribution-item
          Sending pull requests

        %li.contribution-item
          %span Helping us improve
          %span
            %a{:href => "https://github.com/getgauge/documentation"}
              user docs

        %li.contribution-item
          %span Participating on the
          %span
            %a{:href => "https://groups.google.com/forum/#!forum/getgauge"}
              gauge forum

    .contribution-step
      .involvement-heading Contribution Process
      %ul.contribution-list
        %li.contribution-item
          %span If you're planning to contribute any code or content, we will have to ask you to sign our
          %span
            %a{:href => "/cla"}
              Contributor License Agreement
          %span before we can accept your pull request.

        %li.contribution-item
          We will expect you to send us patches of the issue you work on.