.subheader
  .page-label Get Started

.page-content
  %p Gauge is super simple to install. The section below will show you how to get Gauge working in 4 simple steps. We think it will take you 5 mins. That’s how easy it is!
  .tabs
    %ul.tabs-header
      %li.tab1
        %a.active{:href => "#tab1"}
          %i.fa.fa-apple
          Macintosh  
      %li.tab2 
        %a{:href => "#tab2"}
          %i.fa.fa-windows
          Windows
      %li.tab3
        %a{:href => "#tab3"}
          %i.fa.fa-linux
          Linux

    %ul.tabs-content
      %li#tab1
        %p There are multiple ways to get started with Gauge. You can read our detailed documentation for other methods of installation. Here we show you a simple 4 step process to get you running with Gauge on a mac.  
        .page-block 
          %h2 1. Install Gauge
          .instruction  You can download the pkg and follow these instructions to install Gauge
          %table.download-table
            %tr
              %td.os Mac OS X.pkg
              %td
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  32 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sjdfkjdsfhjksdhfkjdshfjkdshfjhdsfjhsdkjfhsdkjfhsdjkhgjksdvjkdhgesbdvjsbdjkghkjhfg
              %td 
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  64 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa

          .instruction Or we would recommend using brew for a very simple installation using this command.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
        
        .page-block 
          %h2 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugin. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction 
            Go 
            %a{:href=>"#"} here
            to see how to install other language runners and plugins


        .page-block 
          %h2 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed           

        .page-block 
          %h2 4. Execute Gauge specs
          .instruction  Execute the hello world specs so you know Gauge is working!
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction That’s it. You’re ready to start testing! 

        
                      
      %li#tab2.hide
        .page-block 
          %p Or go here to install using the choco package.
          %h2 1. Install Gauge and core plugins
          .instruction  Select your system's configuration to download
          %table.download-table
            %tr
              %td.os Windows.exe
              %td
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  32 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa
              %td 
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  64 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
        
        .page-block 
          %h2 2. Install core language plugins
          .instruction  Select the language runner plugin that you want. This is the language you want to write your tests in.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction Other plugins can be installed via the command line. Look here for more information about this.
          .instruction This is what a completed installation looks like.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed

        .page-block 
          %h2 3. Test your installation
          .instruction  Run this command(from the command line) to check if Gauge, and all plugins are installed correctly.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed           

        .page-block 
          %h2 4. Execute Gauge specs
          .instruction  Execute the hello world specs so you know Gauge is working!
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed 

        
      %li#tab3.hide
        .page-block 
          %h2 1. Install Gauge For Linux
          .instruction  Install Gauge with by downloading the zip and execute the following command
          %table.download-table
            %tr
              %td.os Linix.zip
              %td
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  32 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa 
              %td 
                %a.download.button{:href => "/getstarted"}
                  %i.fa.fa-arrow-circle-o-down
                  64 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa  
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction Choose the archive file appropriate for your installation. For instance, if you are installing gauge version 0.1.8 for 64-bit x86 on Linux, the archive you want is called gauge-0.1.8-linux.x86_64.tar.gz.

          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
        
        .page-block 
          %h2 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugin. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction 
            Go 
            %a{:href=>"#"} here
            to see how to install other language runners and plugins

        .page-block 
          %h2 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed           

        .page-block 
          %h2 4. Execute Gauge specs
          .instruction  Execute the hello world specs so you know Gauge is working!
          .screenshot
            .browser-header
            .browser-container
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed 
