%section.hero-banner
  %section.hero-banner-content

    %h1 SIMPLE. CUSTOMIZABLE. HACKABLE. 
    .subquote 
      Write tests in plain-speak, then customize with rich, plug-in supportive artitecture
      %br Powerful refactoring that allows your test suite to adapt and change as your application evolves.
    %a.button.primary-button{:href => "/getstarted"} Get Started
    %a.button{:href => "/contribute"} Contribute
    %section.features.qas
      %h2 
        Why Gauge is better for 
        <span class="features-filter-selector-wrap">
        <a class="features-selector"><span class="features-selected-value">QAs</span><i class="fa fa-chevron-down"></i></a>
          
        <div class="features-filter-values-wrap js-values-wrap">
        <div class="features-filter-values">
        <div class="features-filter-value" data-value="qas">QA's</div>
        <div class="features-filter-value" data-value="developers">developers</div>
        </div>
        </div>
        </span>

      %ul.feature-list.qas.animated.fadeIn
        %li.simple-syntax 
          %h3 Simple Syntax
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice. You don’t have to use Given-When-Then if you don’t want to.
        %li.parallal-exec 
          %h3 Parallal Execution
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.
        %li.env-tools
          %h3 
            Your Environment
            %br Your Tools
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.
        %li.ext-data-src 
          %h3 External Data Source
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.

      %ul.feature-list.developers.animated.fadeIn
        %li.simple-syntax 
          %h3 Simple Syntax
          %div.feature-desc Write specifications in Markdown, a plain text, widely used markup. Gauge won't enforce a format: write in the style that works for you.
        
        %li.env-tools
          %h3 
            Your Environment
            %br Your Tools
          %div.feature-desc You can easily write your own language or IDE plugin. Author plugins in Golang or any other popular programming language. Gauge's plugin-loving architecture helps you get the most out of it. 

        %li.env-tools
          %h3 
            Test code is
            %br production code
          %div.feature-desc Test suites need to be as DRY and as malleable as your production code. Gauge's robust refactoring support makes sure your suite evolve as your application does.

        %li.parallal-exec
          %h3 
            Parallel execution
            %br made easy
          %div.feature-desc Run your tests in parallel with a single command from the IDE or command line. It'll work exactly the same across all languages.




%section.vision
  %ul
    %li 
      %h3 Open source
      Passionate about open source and test automation 
    %li
      %h3 For everyone
      We want to be the tool of choice for testers with varying levels of automation experience
    %li
      %h3 Plugin architecture
      Building a community of people with varying preferences is important to us. And Gauge is built with a pluggable architecture that could nurture this vision.

    %li
      %h3 We're here to stay 
      Now that we have been in this space for over a decade, we love it, we want to stay and solve the harder problems.

%section.video
  %h2 Let's Get Started
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Pj1WUZ9gjLY" frameborder="0" allowfullscreen></iframe>
  %div.download
    %a.button.primary-button{:href => "/getstarted"} Download

%section.testimonials
  %h2 Check what our customer says
  %ul.row
    %li
      "Guage is simple Awesome"
      .client Sheena Patel, QA
    %li
      "Love it!"
      .client Shaun Martin, Test Manager

    %li
      "Guage is simple Awesome"
      .client Sheena Patel, QA

    %li
      "Guage is simple Awesome"
      .client Sheena Patel, QA

%section.community
  %h2 Be part of out community...
  .community-list
    %a.join-group{:href => "/contribute"} Join Our Groups
          
    %a.contribute{:href => "/contribute"} Contribute Code
        
    %a.contact{:href => "/contribute"} Contact Us
    
    %a.followus{:href => "/contribute"} Follow Us
