---
header_theme: light
---

%section#hero.parallax-window
  .parallax-content.section1
    %h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
    %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    .button-container
      %a.primary-cta{:href => "/download"} Download
      %a.primary-cta{:href => "/get-started"} Get Started
%section.parallax-window
  .parallax-content.section2
    %h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit,.
    %h3
      %ul
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit,
%section.parallax-window
  .parallax-content.section3
    %h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    %h3 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.
%section.parallax-window
  .parallax-content.section4
    %h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    %h3 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.

= javascript_include_tag  'home.js'
