---
credit: Photo Credit - A C Moraes
credit_link: https://www.flickr.com/photos/acmoraes/8629549600/
---

%section.hero-banner
  %section.hero-banner-content

    %h1
      Test Automation
      you'll
      %span actually
      like
    .subquote
      Simple. Collaborative. Adaptable.
    .actions
      %a.button.primary-button.download-icon{:href => "get-started/index.html"}
        %span Get Started
      %a.button{:href => "contribute/index.html"} Contribute
    %section.features.qas
      %h2
        Why Gauge is better for
        <span class="features-filter-selector-wrap">
        <a class="features-selector"><span class="features-selected-value">Testers</span><i class="fa fa-sort-desc"></i></a>
        <div class="features-filter-values-wrap js-values-wrap">
        <div class="features-filter-values">
        <div class="features-filter-value" data-value="qas">Testers</div>
        <div class="features-filter-value" data-value="developers">Developers</div>
        </div>
        </div>
        </span>

      .feature-list.qas.animated.fadeIn

        .grid-3
          %h3.simple-syntax.logo Simple Syntax
          .feature-desc Write test specifications in Markdown. Gauge won't enforce a structure: write in a way that works for you. Generate readable documentation in the format of your choice.

        .grid-3
          %h3.start-fast.logo Get Started Fast
          .feature-desc Gauge is lightweight and easy to get started. Install and initialize with a single command.

        .grid-3
          %h3.env-tools.logo Your Environment
          %h3 Your Tools
          .feature-desc Automate in your favourite programming language and work in the IDE of your choice, across platforms. Gauge supports C#, Java, Ruby, IntelliJ and Visual Studio out-of-the-box.

        .grid-3
          %h3.ext-data-src.logo Data Driven Execution
          .feature-desc Easily test with large data sets, while keeping specifications highly readable. Gauge reads test data from text, CSV, and more.


      .feature-list.developers.animated.fadeIn

        .grid-3
          %h3.test-is-prod.logo Refactoring support
          .feature-desc Keep your test suite as DRY as your production code. Gauge’s robust refactoring propagates changes throughout the test suite, reducing duplication and evolving your tests with your application.

        .grid-3
          %h3.hackable.logo Extensible and Hackable
          .feature-desc Take advantage of Gauge's plugin architecture. Extend by adding support for IDEs, langauges, drivers, datasources, text execution events and more. Author plugins in Golang, in which Gauge itself is written, or any other language.

        .grid-3
          %h3.env-tools.logo Your Environment
          %h3 Your Tools
          .feature-desc Gauge supports Java, C#, Ruby, IntelliJ, Visual Studio out-of-the-box. Its first class command line support helps integrate seamlessly with your Continuous Delivery setup.

        .grid-3
          %h3.parallel-exec.logo Easy Parallel Execution
          .feature-desc Run your tests in parallel with a single command from the IDE or command line. It works exactly the same across all languages.


%section.visiongauge
  %h2 Why we built Gauge
  .vision-wrapper 
    %ul

      %li
        .vision-col.icon-hardprob
          ThoughtWorks, creator of Selenium and Twist, has been a
          %strong key innovator
          in the automated testing ecosystem for more than a decade. We love it and want to help solve the hardest problems people face in the testing and automation world.
      %li
        .vision-col.icon-plugin
          We care about solving problems for all, not just those on a specific platform. Gauge is built with a plugin architecture so that you can use it with
          %strong any language, IDE
          and
          %strong ecosystem
          you want.

      %li 
        .vision-col.icon-os
          We are passionate about
          %strong open source
          and 
          %strong test automation.

      %li 
        .vision-col.icon-explevel
          We support
          %strong all testers
          regardless of automation experience.
    
-#%section.video
-#  %h2 Let's Get Started
-#  <iframe width="560" height="315" src="https://www.youtube.com/embed/Pj1WUZ9gjLY" frameborder="0" allowfullscreen></iframe>
-#  %div.download
-#    %a.button.primary-button{:href => "/get-started"} Download

%section.testimonials
  %h2 What our users say
  .row
    .grid-4
      .testimonial
        .text
          <i class="fa fa-quote-left"></i>
          After more playing
          %a{:href => "https://twitter.com/getgauge", :target => "_blank"}@getgauge
          is upgraded to awesome - loving the IntelliJ integration (Eclipse and VS/C# also supported, as is ruby).
          <i class="fa fa-quote-right"></i>
        %span.client Jez Humble
        %span.client via Twitter
    .grid-4
      .testimonial
        .text
          <i class="fa fa-quote-left"></i>
          Gauge has revolutionized our automated testing process, allowing us to write an automated testing framework that is simple to use, even for non-technical users. We have a complex Web UI that we run hundreds of tests on, across multiple browser permutations.
          <i class="fa fa-quote-right"></i>
        %span.client Chris Stanush, Test Automation Engineer
        %span.client Mattersight Corporation
    .grid-4
      .testimonial
        .text
          <i class="fa fa-quote-left"></i>
          Guage is simple Awesome WE havr used sh it sjdfjks, Shfsjfbjs tsnfs ghtesgn s jethsjhsknf s.
          <i class="fa fa-quote-right"></i>
        .client Vivekanand Jha, QA
        .client Org Name