%section.hero-banner
  %section.hero-banner-content

    %h1 SIMPLE. CUSTOMIZABLE. HACKABLE. 
    .subquote 
      Write tests in plain-speak, then customize with rich, plug-in supportive artitecture
      %br Powerful refactoring that allows your test suite to adapt and change as your application evolves.
    %a.button.primary-button{:href => "/getstarted"} Get Started
    %a.button{:href => "/contribute"} Contribute
    %section.features
      %h2 
        Why Gauge is better for 
        <span class="overview-filter-selector-wrap js-filter-selector">
        <div class="overview-filter-current-value"><a class="selectable">QAs<i class="fa fa-chevron-down"></i></a>
          
        </div>
        <div class="overview-filter-values-wrap js-values-wrap">
        <div class="overview-filter-values">
        <div class="overview-filter-value js-value _active" data-value="_all">you</div>
        <div class="overview-filter-value js-value" data-value="developers">developers</div>
        <div class="overview-filter-value js-value" data-value="managers">managers</div>
        <div class="overview-filter-value js-value" data-value="pandas">pandas</div>
        </div>
        </div>
        </span>

      %ul.feature-list
        %li.simple-syntax 
          %h3 Simple Syntax
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice. You don’t have to use Given-When-Then if you don’t want to.
        %li.parallal-exec 
          %h3 Parallal Execution
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.
        %li.env-tools
          %h3 
            Your Environment
            %br Your Tools
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.
        %li.ext-data-src 
          %h3 External Data Source
          %div.feature-desc Markdown allows you to easily generate readable documentation of your features in the format of your choice.
%section.vision
  %ul
    %li 
      %h3 Open source
      Passionate about open source and test automation 
    %li
      %h3 For everyone
      We want to be the tool of choice for testers with varying levels of automation experience
    %li
      %h3 Plugin architecture
      Building a community of people with varying preferences is important to us. And Gauge is built with a pluggable architecture that could nurture this vision.

    %li
      %h3 We're here to stay 
      Now that we have been in this space for over a decade, we love it, we want to stay and solve the harder problems.

%section.video
  %h2 Let's Get Started
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Pj1WUZ9gjLY" frameborder="0" allowfullscreen></iframe>
  %div.download
    %a.button.primary-button{:href => "/getstarted"} Download

%section.testimonials
  %h2 Check what our customer says
  %ul.row
    %li
      %div
        "Guage is simple Awesome"
        .client Sheena Patel, QA
    %li
      %div
        "Love it!"
        .client Shaun Martin, Test Manager

    %li
      %div
        "Guage is simple Awesome"
        .client Sheena Patel, QA

    %li
      %div
        "Guage is simple Awesome"
        .client Sheena Patel, QA

%section.community
  %h2 Be part of out community...
  .community-list
    %a.join-group{:href => "/contribute"} Join Our Groups
          
    %a.contribute{:href => "/contribute"} Contribute Code
        
    %a.contact{:href => "/contribute"} Contact Us
    
    %a.followus{:href => "/contribute"} Follow Us
