%section.hero-banner
  %section.hero-banner-content

    %h1 
      Test Automation
      you will
      %span actually
      like
    .subquote 
      Write tests in plain-speak, then customize with rich, plug-in supportive architecture
      %br Powerful refactoring that allows your test suite to adapt and change as your application evolves.
    %a.button.primary-button{:href => "/get-started"} <i class="fa fa-cloud-download"></i> Get Started
    %a.button{:href => "/contribute"} Contribute
    %section.features.qas
      %h2 
        Why Gauge is better for 
        <span class="features-filter-selector-wrap">
        <a class="features-selector"><span class="features-selected-value">Testers</span><i class="fa fa-sort-desc"></i></a>
        <div class="features-filter-values-wrap js-values-wrap">
        <div class="features-filter-values">
        <div class="features-filter-value" data-value="qas">Testers</div>
        <div class="features-filter-value" data-value="developers">Developers</div>
        </div>
        </div>
        </span>
      %ul.feature-list.qas.animated.fadeIn
        %li.simple-syntax
          %h3 Simple Syntax
          %div.feature-desc Write test specifications in Markdown, a widely known markup language. Gauge won't enforce a structure: write in a way that works for you. Generate readable documentation in the format of your choice.

        %li.start-fast
          %h3 Get Started Fast
          %div.feature-desc Gauge is lightweight and needs no configuration. A single command plugin install and initialisation. And you’re good to go.
        %li.env-tools
          %h3
            Your Environment
            %br Your Tools
          %div.feature-desc Gauge supports C#, Java, Ruby, IntelliJ and Visual Studio. Automate in your favourite programming language and work in the IDE of your choice, across platforms.

        %li.ext-data-src
          %h3 Data Driven Execution
          %div.feature-desc Easily test with large data sets, while keeping specifications highly readable. Gauge reads test data from text, CSV, and more.

      %ul.feature-list.developers.animated.fadeIn

        %li.test-is-prod
          %h3
            Refactoring support
          %div.feature-desc Keep your test suite as DRY as your production code. Gauge’s robust refactoring propagates changes throughout the test suite, reducing duplication and evolving your tests with your application.

        %li.ext-data-src
          %h3 Data Driven Execution
          %div.feature-desc Easily test with large data sets, while keeping specifications highly readable. Gauge reads test data from text, CSV, and more.

        %li.env-tools
          %h3 
            Your Environment
            %br Your Tools
          %div.feature-desc Gauge supports C#, Java, Ruby, IntelliJ and Visual Studio. Need something different? Write your own plugin in Golang or any popular language thanks to Gauge’s plugin-loving architecture.


        %li.parallel-exec
          %h3 
            Easy Parallel Execution
          %div.feature-desc Run your tests in parallel with a single command from the IDE or command line. It works exactly the same across all languages.


%section.visiongauge
  %h2 Why we built Gauge
  .vision-wrapper 
    %ul
      %li 
        .vision-col.icon-os
          We are passionate about
          %strong open source
          and 
          %strong test automation.

      %li 
        .vision-col.icon-explevel
          We support testers
          %strong all testers
          regardless of automation experience.

      %li
        .vision-col.icon-plugin
          Building a community of people with varying preferences is important to us. And Gauge is built with a
          %strong plugin supportive architecture
          that will nurture this vision and adapt to accommodate it.

      %li
        .vision-col.icon-hardprob
          ThoughtWorks, creator of tools like Selenium and Twist, has been a key player in the automated testing ecosystem for more than a decade. We love it. We're
          %strong here to stay
          and we want to get even better to solve the hardest problems.
    
%section.video.wow.animated.fadeIn{"data-wow-delay" => ".3s"} 
  %h2 Let's Get Started
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Pj1WUZ9gjLY" frameborder="0" allowfullscreen></iframe>
  %div.download
    %a.button.primary-button{:href => "/get-started"} Download

%section.testimonials.wow.animated.fadeIn{"data-wow-delay" => ".3s"} 
  %h2 What our users say
  %ul.row
    %li
      "Guage is simple Awesome WE havr used sh it sjdfjks, Shfsjfbjs tsnfs ghtesgn s jethsjhsknf s fksfird."
      .client Sheena Patel, QA
    %li
      "Love it!"
      .client Shaun Martin, Test Manager

    %li
      "Guage is simple Awesome"
      .client Sheena Patel, QA

    %li
      "Guage is simple Awesome"
      .client Sheena Patel, QA


