---
header_theme: light
---

%section.our-team-hero
  .team-bg{"data-stellar-background-ratio" => "1.5", "data-stellar-vertical-offset" => "0"}
    .hero-content
      %h1.team-header Our Team
      %h3 Our team is the rockingest set of cool and nice people you will ever meet. BTW this is placeholder text. Not because I don't love you all but because I think we can be less obnoxious.
%section.team-members
  .team-members-list
    .team-row
      .member.apoorva
        .profile @ItsApoorvaHere
      .member.deepthi
        .profile @krymsson
      .member.kashish
        .profile
          %i.fa.fa-github>
          \&nbsp;kashishm
  .team-members-list.two-column
    .team-row
      .member.prateek
        .profile @prateek_baheti
      .member.srikanth
        .profile
          %i.fa.fa-github>
          \&nbsp;sriv
