---
header_theme: light
---

<section class="our-team-hero">
  <div class="team-bg" data-stellar-background-ratio="1.5" data-stellar-vertical-offset="0">
    <div class="hero-content">
      <h1 class="team-header">Our Team</h1>
      <h3>Our team is the rockingest set of cool and nice people you will ever meet. BTW this is placeholder text. Not because I don't love you all but because I think we can be less obnoxious.</h3>
    </div>
  </div>
</section>

<section class="team-members">
  <div class="team-members-list">
    <div class="team-row">
      <div class="member akshay">
        <div class="profile">@akshay_karle</div>
      </div>
      <div class="member andrei">
        <div class="profile">@andreitognolo</div>
      </div>
      <div class="member badri">
        <div class="profile">@badrij</div>
      </div>
      <div class="member elly">
        <div class="profile">@elly_zen</div>
      </div>
    </div>
  </div>
  <div class="team-members-list">
    <div class="team-row">
      <div class="member fernando">
        <div class="profile">@nandopaf</div>
      </div>
      <div class="member henrique">
        <div class="profile">lorem ipsum</div>
      </div>
      <div class="member jen">
        <div class="profile">@jen_marley</div>
      </div>
      <div class="member you">
        <div class="profile">Why not apply?</div>
      </div>
    </div>
  </div>
</section>
